# Big Data Analytics Techniques and Applications - HW1
#### 0316313 張逸群

## 資料
| ID | 資料名稱                | 資料大小 |
|----|-------------------------|----------|
| 1  | yellow_tripdata_2015-01 | 1.9GB    |
| 2  | yellow_tripdata_2015-02 | 1.9GB    |
|總計 |                         | 3.8GB    |

## 使用工具
* python3.7
* numpy
* pandas
* jupyter lab

## 環境
* Ubuntu 16
* Intel(R) Core(TM) i5-6600 CPU @ 3.30GHz
* 56GB ram

## 使用 `pandas` 讀取資料，並以 `pandas.DataFrame` 儲存

In [1]:
import numpy as np
import pandas as pd
import pandasql as ps
import os
import sys

In [2]:
data_list = ['yellow_tripdata_2015-01', 'yellow_tripdata_2015-02']

In [3]:
df = None
for filename in data_list:
    print('reading', filename, '...', end='')
    if os.path.exists(filename + '.pl'):
        tmp_df = pd.read_pickle(filename + '.pl')
    else:
        tmp_df = pd.read_csv(filename + '.csv')
        tmp_df.to_pickle(filename + '.pl')
        
    if df is None: df = tmp_df
    else: df.append(tmp_df, ignore_index=True)
        
    print(' done!')

reading yellow_tripdata_2015-01 ... done!
reading yellow_tripdata_2015-02 ... done!

### 預覽資料

In [4]:
print(df.head())

   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         2  2015-01-15 19:05:39   2015-01-15 19:23:42                1
1         1  2015-01-10 20:33:38   2015-01-10 20:53:28                1
2         1  2015-01-10 20:33:38   2015-01-10 20:43:41                1
3         1  2015-01-10 20:33:39   2015-01-10 20:35:31                1
4         1  2015-01-10 20:33:39   2015-01-10 20:52:58                1

   trip_distance  pickup_longitude  pickup_latitude  RateCodeID  \
0           1.59        -73.993896        40.750111           1
1           3.30        -74.001648        40.724243           1
2           1.80        -73.963341        40.802788           1
3           0.50        -74.009087        40.713818           1
4           3.00        -73.971176        40.762428           1

  store_and_fwd_flag  dropoff_longitude  dropoff_latitude  payment_type  \
0                  N         -73.974785         40.750618             1
1                  N         -73.994415         40.759109             1
2                  N         -73.951820         40.824413             2
3                  N         -74.004326         40.719986             2
4                  N         -74.004181         40.742653             2

   fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0         12.0    1.0      0.5        3.25           0.0
1         14.5    0.5      0.5        2.00           0.0
2          9.5    0.5      0.5        0.00           0.0
3          3.5    0.5      0.5        0.00           0.0
4         15.0    0.5      0.5        0.00           0.0

   improvement_surcharge  total_amount
0                    0.3         17.05
1                    0.3         17.80
2                    0.3         10.80
3                    0.3          4.80
4                    0.3         16.30

### 取得統計資料

In [5]:
print(df.describe())

           VendorID  passenger_count  trip_distance  pickup_longitude  \
count  1.274899e+07     1.274899e+07   1.274899e+07      1.274899e+07
mean   1.521437e+00     1.681491e+00   1.345913e+01     -7.256184e+01
std    4.995402e-01     1.337924e+00   9.844094e+03      1.012510e+01
min    1.000000e+00     0.000000e+00   0.000000e+00     -1.219258e+02
25%    1.000000e+00     1.000000e+00   1.000000e+00     -7.399168e+01
50%    2.000000e+00     1.000000e+00   1.680000e+00     -7.398160e+01
75%    2.000000e+00     2.000000e+00   3.000000e+00     -7.396662e+01
max    2.000000e+00     9.000000e+00   1.542000e+07      7.866265e+01

       pickup_latitude    RateCodeID  dropoff_longitude  dropoff_latitude  \
count     1.274899e+07  1.274899e+07       1.274899e+07      1.274899e+07
mean      3.997282e+01  1.036901e+00      -7.260904e+01      3.999961e+01
std       5.578691e+00  6.732240e-01       9.966037e+00      5.487742e+00
min       0.000000e+00  1.000000e+00      -7.401667e+02     -9.029157e+00
25%       4.073554e+01  1.000000e+00      -7.399120e+01      4.073436e+01
50%       4.075314e+01  1.000000e+00      -7.397976e+01      4.075362e+01
75%       4.076757e+01  1.000000e+00      -7.396246e+01      4.076880e+01
max       4.047000e+02  9.900000e+01       8.527402e+01      4.595333e+02

       payment_type   fare_amount         extra       mta_tax    tip_amount  \
count  1.274899e+07  1.274899e+07  1.274899e+07  1.274899e+07  1.274899e+07
mean   1.386712e+00  1.190566e+01  3.082790e-01  4.977986e-01  1.853814e+00
std    4.988611e-01  1.030254e+01  5.916643e-01  3.534229e-02  1.106432e+03
min    1.000000e+00 -4.500000e+02 -7.900000e+01 -5.000000e-01 -9.242000e+01
25%    1.000000e+00  6.500000e+00  0.000000e+00  5.000000e-01  0.000000e+00
50%    1.000000e+00  9.000000e+00  0.000000e+00  5.000000e-01  1.000000e+00
75%    2.000000e+00  1.350000e+01  5.000000e-01  5.000000e-01  2.060000e+00
max    5.000000e+00  4.008000e+03  9.999900e+02  5.000000e-01  3.950589e+06

       tolls_amount  improvement_surcharge  total_amount
count  1.274899e+07           1.274898e+07  1.274899e+07
mean   2.434984e-01           2.831431e-01  1.510829e+01
std    1.527171e+00           6.908633e-02  1.106503e+03
min   -2.600000e+01           0.000000e+00 -4.503000e+02
25%    0.000000e+00           3.000000e-01  8.160000e+00
50%    0.000000e+00           3.000000e-01  1.116000e+01
75%    0.000000e+00           3.000000e-01  1.630000e+01
max    1.450090e+03           3.000000e-01  3.950612e+06

# Q2. When are the peak hours and off-peak hours for taking taxi?  
## A2. 將資料中的時間取出，將其小時的部分進行 bining ，便可以得到以下結果：

In [6]:
df['hour_of_day'] = [ t.hour for t in pd.to_datetime(df.tpep_pickup_datetime) ]
hod_count = df['hour_of_day'].value_counts()
print(hod_count)

19    805230
18    799587
20    733952
21    711579
22    686959
17    668790
14    658887
15    648688
12    637479
13    635587
11    596504
23    592429
9     580034
16    576598
10    567818
8     561802
0     469971
7     456127
1     355145
6     268455
2     268133
3     198524
4     143271
5     127437
Name: hour_of_day, dtype: int64